<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/bands">My Bands</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            
            
            <li class="nav-item">
              <a class="nav-link" href="/bands/addBand">Add Band</a>
            </li>
          </ul>

            
                <div class="dropdown">
                    
                <i class="fas fa-user-circle" data-toggle="dropdown" style="font-size: 35px; cursor: pointer;" ></i> 
                    <div class="dropdown-menu">
                       <a class="dropdown-item" href="/users/profile">Profile</a>
                       <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </div>
            
            </ul>
        </div>
      </nav>